body {
    background: #f7f5f1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: blue;
    margin: 0;
    padding-bottom: 70px
}

/* 
biru = #00e0d0
ungu gelap = #09052f
ungu = #311d5e

*/
a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}
a:hover {
    color: #00e0d0;
}
.btn {
    border: 1px solid #00e0d0;
    color: #00e0d0;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
}
.btn:hover {
    background: #fff;
    border: 1px solid #ffffff;
}
.header, .video {
    background-image: url(img/bg-header.jpg);
    background-size: cover;
    overflow: hidden;
    height: 300px;
}
.video {
    background-image: url(img/bg-video.jpg);
}
.overlay{
    background: rgba(49, 29, 94, 0.5);
    overflow: hidden;
    height: 300px;
}
.intro, .btn-play {
    text-align: center;
    color: #fff;
    clear: both;
}
.btn-play {
    margin: 90px 0;
}
.btn-play a:hover {
    color: inherit;
}
.logo {
    float: left;
    margin: 20px;
}

.container {
    margin: 100px auto;
    max-width: 1024px;
}

ul {
    float: right;
    margin: 37px;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

h1 {
    font-size: 30px;
}

table {
    background: white;
    border: 1px solid black;
    width: 100%;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid orange;
}

th {
    border: 1px solid red;
}
hr {
    clear: both;
}